<div>
  <h1>Restore your password</h1>


<h2>Ingrese su Email para restablecer la contraseña</h2>
  <form  action="http://localhost:8080/api/sessions/emailRestorePass" method="POST">
    <label>Email</label>
    <input name="email" />
    <input type="submit" />
  </form>

<a href="/"><button>Volver al login</button></a>




</div>



