<div>
  <h1>Login</h1>

  <form id="cookieForm" action="/api/sessions/login" method="POST">
    <label>Email</label>
    <input name="email" />
    <br />
    <label>pass</label>

    <input name="password" type="password" />
    <input type="submit" />
  </form>
  <p>Si no tienes una cuenta todavía, te invito a registrarte de manera gratuita</p>
  <a href="/views/register"><button>Registrarme</button></a>

  <a href="views/emailRestorePass"><button>Olvidé mi contraseña</button></a>

</div>